@model IEnumerable<EventLogger.Service.EventLogs.Dto.EventLogOutput>
@{
}

<thead class="thead-inverse">
    <tr>
        <th>Log Id</th>
        @*<th>Code</th>*@
        <th>Controller</th>
        <th>Action</th>
        <th>Route Values</th>
        <th>Date Time</th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            @*<td>@item.StatusCode</td>*@
            <td>@item.Controller</td>
            <td>@item.Action</td>
            <td>@item.RouteValues</td>
            <td>
                @item.CreateDateTime.ToShortDateString()
                <br />
                @item.CreateDateTime.ToShortTimeString()
            </td>
            <td>@Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "EventLogs", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "", target = "_blank" })</td>
        </tr>
    }
</tbody>