@model EventLogger.Service.EventLogs.Dto.EventLogOutput

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LoggerMainLayout.cshtml";

}
<div style="margin-top:20px;">

    @if (Model.EventLogType == EventLogger.Enums.EventLogType.Error)
    {
        <div class="">
            <h3> @Model.Message </h3>
            <h4 class="text-primary"> @Model.TypeName </h4><br />
        </div>
        <div class="">
            <p class="alert alert-warning">
                @Model.Details
            </p>
            <hr />
        </div>
        <div class="">
            <strong>Status Code :</strong>
            @Model.StatusCode
            <hr />
        </div>
        <div class="">
            <strong>Source :</strong>
            <p> @Model.Source </p>
            <hr />
        </div>
        <div class="">
            <strong>Message :</strong>
            <p> @Model.Message </p>
            <hr />
        </div>
        <div class="">
            <strong>Inner Message :</strong>
            @Model.InnerMessage
            <hr />
        </div>
        <div class="">
            <strong>Help Link :</strong>
            @Model.HelpLink
            <hr />
        </div>
        <div class="">
            <strong>HResult :</strong>
            @Model.HResult
            <hr />
        </div>

    }
    <div class="">
        <strong>Date Time :</strong>
        @Model.CreateDateTime
        <hr />
    </div>
    <div class="">
        <strong>Machine Name :</strong>
        @Model.MachineName
        <hr />
    </div>
    <div class="">
        <strong>Host Name :</strong>
        @Model.UserHostName
        <hr />
    </div>

    <div class="">
        <strong>IP Address :</strong>
        @Model.Ip
        <hr />
    </div>
    <div class="">
        <strong>Protocol :</strong>
        @Model.Protocol
        <hr />
    </div>
    <div class="">
        <strong>Http Host :</strong>
        @Model.HttpHost
        <hr />
    </div>
    <div class="">
        <strong>Port :</strong>
        @Model.Port
        <hr />
    </div>
    <div class="">
        <strong>Http Method :</strong>
        @Model.HttpMethod
        <hr />
    </div>
    <div class="">
        <strong>User :</strong>
        @Model.UserName
        <hr />
    </div>
    <div class="">
        <strong>User Agent :</strong>
        @Model.UserAgent
        <hr />
    </div>
    <div class="">
        <strong>Controller :</strong>
        @Model.Controller
        <hr />
    </div>
    <div class="">
        <strong>Action :</strong>
        @Model.Action
        <hr />
    </div>
    <div class="">
        <strong>Route Values :</strong>
        @Model.RouteValues
        <hr />
    </div>
    <div class="">
        <strong>Url :</strong>
        @Model.Url
        <hr />
    </div>
    <div class="">
        <strong>Url Referer :</strong>
        @Model.UrlReferer
        <hr />
    </div>
    <div class="">
        <strong>Path Info :</strong>
        @Model.PathInfo
        <hr />
    </div>
    <div class="">
        <strong>QueryString :</strong>
        @Model.QueryString
        <hr />
    </div>
    <div class="">
        <strong>UrlReferer :</strong>
        @Model.UrlReferer
        <hr />
    </div>
    <div class="">
        <strong>Physical Path :</strong>
        @Model.PhysicalPath
        <hr />
    </div>
    <div class="">
        <strong>Physical Application Path :</strong>
        @Model.PhysicalApplicationPath
        <hr />
    </div>

    <div class="">
        <strong>Cookies :</strong>
       @Html.Raw(Model.Cookies)
        <hr />
    </div>
    @*<div class="">
        <strong>Form :</strong>
        @Model.Form
        <hr />
    </div>
    <div class="">
        <strong>Server Variables :</strong>
        @Model.ServerVariables
        <hr />
    </div>*@

</div>
